RewriteEngine On

# Remove /view from URLs
RewriteRule ^home$ view/index/index.php [L]
RewriteRule ^events$ view/events/view.php [L]
RewriteRule ^students$ view/students/view.php [L]

# Optional: redirect root to home
RewriteRule ^$ view/index/index.php [L]
