@import url(colors.css);

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f9f9fb;
}

html, body 
{
    height: 100%;
}

main {
    flex: 1;
    padding: 20px 0;
}

.events-page h1 
{
    color: var(--dark-color);
    text-align: center;
    margin-bottom: 1rem;
    font-family: Arial, sans-serif;
}



.empty-state 
{
    text-align: center;
    margin-top: 50px;
    padding: 40px;
    background-color: var(--light-color);
    border-radius: 8px;
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px dashed var(--secondary-color);
}

@media (max-width: 768px) 
{
    main 
    {
        padding: 10px 0;
    }
}

@media (min-width: 769px) {
    td[data-label="ID"], th[data-label="ID"],
    td[data-label="Student ID"], th[data-label="Student ID"],
    td[data-label="Address"], th[data-label="Address"],
    td[data-label="Class"], th[data-label="Class"],
    td[data-label="Created At"], th[data-label="Created At"],
    td[data-label="Status"], th[data-label="Status"] {
        text-align: center;
    }

    td[data-label="First Name"], th[data-label="First Name"],
    td[data-label="Last Name"], th[data-label="Last Name"],
    td[data-label="Date of Birth"], th[data-label="Date of Birth"] {
        text-align: left;
    }

    td[data-label="ID"], th[data-label="ID"],
    td[data-label="Class"], th[data-label="Class"] {
        width: 60px;
    }

    td[data-label="Student ID"], th[data-label="Student ID"],
    td[data-label="Status"], th[data-label="Status"] {
        width: 80px;
    }

    td[data-label="First Name"], th[data-label="First Name"],
    td[data-label="Last Name"], th[data-label="Last Name"],
    td[data-label="Date of Birth"], th[data-label="Date of Birth"],
    td[data-label="Address"], th[data-label="Address"],
    td[data-label="Created At"], th[data-label="Created At"] {
        width: 120px;
    }
}
